/* GamesPage.css */

.games-page {
    padding: 20px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Adjust the minmax values to control the card size */
    gap: 20px;
}

.game-viewer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optionally, set a min-height to ensure proper spacing */
    min-height: 80vh;
}
