.navbar {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-links a {
    color: var(--nav-text-color);
    text-decoration: none;
    margin-left: 1rem;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.theme-toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: inherit;
}

.theme-toggle-button:focus {
    outline: none;
}

/* Adjust styles as needed */
